<header>
    <img
        src="assets/img/renato.jpg"
        alt="Renato Medeiros - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    />
    <h1>Renato Medeiros</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack .Net | Angular | React | NodeJs | JavaScript </p>
        <p>Curitiba, Paraná, Brasil</p>
        <p>
            Formado em Sistemas de Informação pela PUC-Rio e Mestre em Computação pela UFRJ. <br/>
            Estou na área de desenvolvimento há {{ageDevelopment}} anos, o que me faz ter bom balanço entre teoria e prática.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/resume.pdf" target="_blank" class="btn btn-primary">
                        Download Cv
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/renamed/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                    src="assets/icons/whatsapp.svg"
                    alt="Ícone para contato do WhatsApp"
                    width="22px"
                    height="24px"                    
                />

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=554199999999&text=Ol%C3%A1%20Renato%20Medeiros,%20encontrei%20seu%20contato%20no%20seu%20portf%C3%B3lio%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
                        target="_blank">
                        <strong>Envie uma mensagem de WhatsApp para:</strong>
                        <p>WhatsApp: (41) xxxxx xxxx</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img
                    src="assets/icons/mail.svg"
                    alt="Ícone para contato do e-mail"
                    width="22px"
                    height="24px"                    
                />

                <figcaption>
                    <a href="mailto:renatomouramartinsmedeiros@gmail.com"
                        target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>renatomouramartinsmedeiros&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>

        </section>
    </div>
</aside>