<h2>Template</h2>
<h3>Text Interpolation</h3>
<p>{{ name }} - {{ age }}</p>
<p>{{ condition }}</p>

<hr/>
<h2>Property Binding</h2>
<button [disabled]="isDisabled">Button</button>
<img [src]="srcValue" [alt]="name" [title]="name"/>
<p [attr.title]="name" [attr.arial-label]="name">Renato Medeiros</p>

<hr/>
<h2>Class and style binding</h2>
<p [class.background-red]="age >= 37" [class.background-blue]="age < 37">{{name}}</p>

<p [style.text-decoration]="isTextDecoration">{{age}}</p>

<hr/>
<h2>Event Binding</h2>
<button (click)="sum()">+</button>
<button (click)="sub()">-</button>
<input (keydown.shift.t)="onKeyDown($event)" />

<div style="background-color: red; width: 300px; height: 300px; margin-top: 10px;" (mousemove)="onMouseMove($event)"></div>

<hr/>

<h3>Two way binding</h3>
<input [(ngModel)]="name" />

{{name}}